body {
  font-family:Arial, sans-serif;
}

.navbar {
  a {
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    color: black;
  }

  a:hover,
  a:focus,
  a:active {
    color: white;
    background-color: black;
  }
}
